In [1]:
#Import necessary Libraries
import pandas as pd
import numpy as np

In [2]:
dt=pd.read_csv('C:\\Users\\Manish\\Desktop\\aspy\\training-train\\train.csv')

In [3]:
dt.head()

,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Measles,BMI,under-five deaths,Total expenditure,GDP,Population,Schooling
0,Afghanistan,65.0,263,62.0,0.01,71.279624,1154.0,19.1,83.0,8.16,584.259210,33736494.0,10.1
1,Afghanistan,59.9,271,64.0,0.01,73.523582,492.0,18.6,86.0,8.18,612.696514,327582.0,10.0
2,Afghanistan,59.9,268,66.0,0.01,73.219243,430.0,18.1,89.0,8.13,631.744976,31731688.0,9.9
3,Afghanistan,59.5,272,69.0,0.01,78.184215,2787.0,17.6,93.0,8.52,669.959000,3696958.0,9.8
4,Afghanistan,59.2,275,71.0,0.01,7.097109,3013.0,17.2,97.0,NaN,63.537231,NaN,9.5

In [4]:
#drop Country colmnn
dt.pop('Country')
#dt.drop(["Country"],axis=1)

0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
         ...
94      Argentina
95      Argentina
96        Armenia
97        Armenia
98        Armenia
Name: Country, Length: 99, dtype: object

In [5]:
#Rename columns
dt.rename(columns={"Life expectancy":"Life_expectancy","Adult Mortality": "Adult_Mortality", "percentage expenditure": "Percentage_Exp"})

,Life_expectancy,Adult_Mortality,infant deaths,Alcohol,Percentage_Exp,Measles,BMI,under-five deaths,Total expenditure,GDP,Population,Schooling
0,65.0,263,62.0,0.01,71.279624,1154.0,19.1,83.0,8.16,584.259210,33736494.0,10.1
1,59.9,271,64.0,0.01,73.523582,492.0,18.6,86.0,8.18,612.696514,327582.0,10.0
2,59.9,268,66.0,0.01,73.219243,430.0,18.1,89.0,8.13,631.744976,31731688.0,9.9
3,59.5,272,69.0,0.01,78.184215,2787.0,17.6,93.0,8.52,669.959000,3696958.0,9.8
4,59.2,275,71.0,0.01,7.097109,3013.0,17.2,97.0,NaN,63.537231,NaN,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...
94,74.0,138,12.0,7.76,123.012867,0.0,54.6,13.0,9.38,717.694674,3747159.0,15.6
95,74.1,137,12.0,7.68,1349.025282,6.0,54.0,14.0,9.21,7669.273916,3757452.0,15.0
96,74.8,118,1.0,NaN,0.000000,33.0,54.9,1.0,NaN,369.654776,291695.0,12.7
97,74.6,12,1.0,3.91,295.608714,13.0,54.1,1.0,4.48,3994.712355,29622.0,12.7
98,74.4,123,1.0,3.79,279.429081,10.0,53.3,1.0,4.55,3843.591213,289359.0,12.7

In [6]:
#drop_duplicates considering all rows
dt.drop_duplicates()

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Measles,BMI,under-five deaths,Total expenditure,GDP,Population,Schooling
0,65.0,263,62.0,0.01,71.279624,1154.0,19.1,83.0,8.16,584.259210,33736494.0,10.1
1,59.9,271,64.0,0.01,73.523582,492.0,18.6,86.0,8.18,612.696514,327582.0,10.0
2,59.9,268,66.0,0.01,73.219243,430.0,18.1,89.0,8.13,631.744976,31731688.0,9.9
3,59.5,272,69.0,0.01,78.184215,2787.0,17.6,93.0,8.52,669.959000,3696958.0,9.8
4,59.2,275,71.0,0.01,7.097109,3013.0,17.2,97.0,NaN,63.537231,NaN,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...
94,74.0,138,12.0,7.76,123.012867,0.0,54.6,13.0,9.38,717.694674,3747159.0,15.6
95,74.1,137,12.0,7.68,1349.025282,6.0,54.0,14.0,9.21,7669.273916,3757452.0,15.0
96,74.8,118,1.0,NaN,0.000000,33.0,54.9,1.0,NaN,369.654776,291695.0,12.7
97,74.6,12,1.0,3.91,295.608714,13.0,54.1,1.0,4.48,3994.712355,29622.0,12.7
98,74.4,123,1.0,3.79,279.429081,10.0,53.3,1.0,4.55,3843.591213,289359.0,12.7

In [7]:
#Droping duplicates on basis of  specific column
'''dt.drop_duplicates(subset="Alcohol",keep =False,inplace=True)'''

'dt.drop_duplicates(subset="Alcohol",keep =False,inplace=True)'

In [8]:
#Droping Null values
dt=dt.dropna()

In [9]:
#droping data and setting Indices again
dt=dt.reset_index(drop=True)
dt

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Measles,BMI,under-five deaths,Total expenditure,GDP,Population,Schooling
0,65.0,263,62.0,0.01,71.279624,1154.0,19.1,83.0,8.16,584.259210,33736494.0,10.1
1,59.9,271,64.0,0.01,73.523582,492.0,18.6,86.0,8.18,612.696514,327582.0,10.0
2,59.9,268,66.0,0.01,73.219243,430.0,18.1,89.0,8.13,631.744976,31731688.0,9.9
3,59.5,272,69.0,0.01,78.184215,2787.0,17.6,93.0,8.52,669.959000,3696958.0,9.8
4,58.8,279,74.0,0.01,79.679367,1989.0,16.7,102.0,9.20,553.328940,2883167.0,9.2
...,...,...,...,...,...,...,...,...,...,...,...,...
60,74.1,138,12.0,7.81,470.186915,0.0,55.1,13.0,8.31,2579.193168,3788937.0,16.3
61,74.0,138,12.0,7.76,123.012867,0.0,54.6,13.0,9.38,717.694674,3747159.0,15.6
62,74.1,137,12.0,7.68,1349.025282,6.0,54.0,14.0,9.21,7669.273916,3757452.0,15.0
63,74.6,12,1.0,3.91,295.608714,13.0,54.1,1.0,4.48,3994.712355,29622.0,12.7
64,74.4,123,1.0,3.79,279.429081,10.0,53.3,1.0,4.55,3843.591213,289359.0,12.7

In [10]:
#Saving a DataFrame to csv
dt.to_csv('eval.csv')

# problem 3

In [11]:
df=pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/BgR3v70YJORZ4Mor3zo3ALPP7/training-iris.zip')

In [12]:
df

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [13]:
df

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [14]:
df['Sepal.Area']=df['Sepal.Length']*df['Sepal.Width']

In [15]:
df

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Sepal.Area
0,1,5.1,3.5,1.4,0.2,setosa,17.85
1,2,4.9,3.0,1.4,0.2,setosa,14.70
2,3,4.7,3.2,1.3,0.2,setosa,15.04
3,4,4.6,3.1,1.5,0.2,setosa,14.26
4,5,5.0,3.6,1.4,0.2,setosa,18.00
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica,20.10
146,147,6.3,2.5,5.0,1.9,virginica,15.75
147,148,6.5,3.0,5.2,2.0,virginica,19.50
148,149,6.2,3.4,5.4,2.3,virginica,21.08
149,150,5.9,3.0,5.1,1.8,virginica,17.70

In [16]:
sbst=df[['Sepal.Length', 'Sepal.Width', 'Sepal.Area','Species']]

In [17]:
sbst.head()

   Sepal.Length  Sepal.Width  Sepal.Area Species
0           5.1          3.5       17.85  setosa
1           4.9          3.0       14.70  setosa
2           4.7          3.2       15.04  setosa
3           4.6          3.1       14.26  setosa
4           5.0          3.6       18.00  setosa

In [18]:
abv_22=sbst[sbst['Sepal.Area']>22]

In [19]:
abv_22

     Sepal.Length  Sepal.Width  Sepal.Area     Species
14            5.8          4.0       23.20      setosa
15            5.7          4.4       25.08      setosa
33            5.5          4.2       23.10      setosa
50            7.0          3.2       22.40  versicolor
105           7.6          3.0       22.80   virginica
109           7.2          3.6       25.92   virginica
117           7.7          3.8       29.26   virginica
120           6.9          3.2       22.08   virginica
124           6.7          3.3       22.11   virginica
125           7.2          3.2       23.04   virginica
131           7.9          3.8       30.02   virginica
135           7.7          3.0       23.10   virginica
144           6.7          3.3       22.11   virginica

In [20]:
abv_22.to_csv("filtered_data.csv",index=False)

# Problem 2

In [21]:
df1=pd.read_csv('https://media-oselect.s3.amazonaws.com/generic/Y2RNG9jW1MZOO71LLP1RZXeBJ/training-P2.zip')

HTTPError: HTTP Error 404: Not Found